body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #E8D8B3;
  padding: 30px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Georgia, serif;
  font-size: 28px;
  color: #472560;
}
