
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #faf2dc;
  padding: 20px 15px;
  margin: 0;
  border-radius: 2px;
  font-family: Georgia, serif;
  font-size: 28px;
  color: #292828;
}
h3 {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
p {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
h2 {
  font-family: Georgia, serif;
  font-size: 20px;
  color: #292828;
}
#controls {
  position:absolute;
  bottom: 30px;
  left: 20px;
  padding: 20px;
  border-radius:2px;
  z-index:1;
  font-family: Georgia, serif;
  font-size: 15px;
  color: #2b2b2b;

  background-color: #faf2dc;
}
#slider {
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  background: #85521C;
  border-radius: 2px;
  outline: none;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: #85521C;
  border: 2px solid #fff5c9;
  cursor: pointer;
}
#year{
  font-weight: bold;
}
.mapboxgl-popup-content {
  background-color: #faf6eb !important;
  max-height: 200px;
  overflow: auto; 
}
.mapboxgl-popup-tip {
    border-bottom-color: #faf6eb !important;
  border-top-color: #faf6eb !important;
}
#legend {
  position: absolute;
    top: 100px;
    left: 20px;
    background: #faf2dc;
    padding: 10px;
    border-radius: 2px;
    font-family: Georgia, serif;
    font-size: 14px;
    z-index: 1000;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
}
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #faf6eb;
  padding: 20px;
  overflow-y: auto;
  font-family: Georgia, serif;
  font-size: 14px;
  color: #4b4f4e;
  z-index: 1000;
}
