body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #f5eace;
  padding: 20px 15px;
  margin: 0;
  border-radius: 8px;
  font-family: Georgia, serif;
  font-size: 28px;
  color: #3b076e;
}
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #faf2dc;
  padding: 30px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Georgia, serif;
  font-size: 28px;
  color: #472560;
}
h3 {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
p {
  font-family: Georgia, serif;
  color: #4b4f4e;
}
h2 {
  position: absolute;
  top: 75px;
  left: 40px;
  z-index: 1000;
  font-family: Georgia, serif;
  font-size: 13px;
  color: #cc3300;
}
#controls {
  font-family: Georgia, serif;
  font-size: 15px;
  color: #2b2b2b;

  background-color: #faf2dc;
}
#slider {
  -webkit-appearance: none;
  width: 200px;
  height: 6px;
  background: #85521C; /* track color */
  border-radius: 3px;
  outline: none;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: #85521C;
  border: 2px solid #fff5c9;
  cursor: pointer;
}
#year{
  font-weight: bold;
}
.mapboxgl-popup-content {
  background-color: #faf6eb !important;
  
}
